#map {
  min-height: calc(100vh - 80px);
  background-color: rgb(179, 179, 179);
}
.map-nav {
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.map-nav a {
  text-decoration: none;
  color: inherit;
}

.map-nav section div {
  display: flex;
  flex-direction: column;
  border-left: none;
  align-items: flex-end;
}

.map-nav section {
  display: flex;
  align-items: center;
}

.map-nav section p {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.map-nav section span {
  font-size: 0.8rem;
}
