@import url("map-nav.css");

#map {
  min-height: calc(100vh - 80px);
  background-color: rgb(179, 179, 179);
}

section {
  min-height: calc(100vh - 80px);
  display: flex;
}

section #map {
  flex: 1;
}

section main {
  flex: 1;
  border-right: 1px solid var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parcel-detail {
  padding: 2rem;
}

footer {
  min-height: 120px;
}

footer img {
  width: 60px;
}

@media (max-width: 400px) {
  section {
    display: flex;
    flex-direction: column-reverse;
  }
}
