{% extends '_base.html' %}
{% load static %}
{% block title %}TopMap Solutions{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/_homepage.css' %}">
{% endblock %}
{% block content %}
    {% include "components/hero.html" %}
    {% include "components/niched.html" %}
    {% include "components/customer.html" %}
    {% include "components/assessment.html" %}
    {% include "components/service.html" %}
    {% include "components/cta.html" %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
