{% extends '_base.html' %}
{% load static %}
{% block title %}Login | TopMap Solutions{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/_auth.css' %}">
{% endblock %}
{% block content %}
    <div class="container auth">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Username or Email</label>
                <input type="text" name="username" placeholder="Enter your email/email" />
            </div>
            <div>
                <label>Password</label>
                <div class="password-field">
                    <input id="password" type="password" name="password" placeholder="Enter you password" />
                    <button type="button" class="btn-password" id="togglePassword">
                        <img 
                        id="iconPassword" 
                        src="{% static 'icons/view.png' %}"
                        data-show="{% static 'icons/view.png' %}"
                        data-hide="{% static 'icons/hide.png' %}"
                        alt="show password">
                    </button>
                </div>
            </div>
            <button class="btn-primary" type="submit">Login</button>
            {% if error %}
                <p id="loginError" class="error">{{ error }}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/togglePassword.js' %}"></script>
{% endblock %}
