{% extends '_base.html' %}
{% load static %}
{% block title %}Login | TopMap Solutions{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/_auth.css' %}">
{% endblock %}
{% block content %}
    <div class="container auth">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required />
            </div>
            <div>
                <label>Password</label>
                <div>
                    <div class="password-field">
                        <input id="password"
                               type="password"
                               name="password"
                               placeholder="Enter you password"
                               required />
                        <button type="button" class="btn-password" id="togglePassword">
                            <img id="iconPassword"
                                 src="{% static 'icons/view.png' %}"
                                 data-show="{% static 'icons/view.png' %}"
                                 data-hide="{% static 'icons/hide.png' %}"
                                 disabled
                                 alt="show password">
                        </button>
                    </div>
                    {% if error %}
                        <p id="loginError" class="error">{{ error }}</p>
                    {% endif %}
                </div>
            </div>
            <button class="btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/togglePassword.js' %}"></script>
{% endblock %}
