{% extends '_base.html' %}
{% load static %}
{% block title %}Signup | TopMap Solutions{% endblock %}
{% block content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/_auth.css' %}">
{% endblock %}

    <div class="container auth">
        <h2>Register</h2>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button class="btn-primary" type="submit">Register</button>
        </form>
        <a href="/accounts/login">Already a User?</a>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/togglePassword.js' %}"></script>
{% endblock %}
