{% extends '_base.html' %}
{% load static %}
{% block title %}Signup | TopMap Solutions{% endblock %}
{% block content %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/_auth.css' %}">
    {% endblock %}
    <div class="container auth">
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Email</label>
                <input id="email"
                       type="email"
                       name="email"
                       placeholder="Enter your email"
                       required />
                <small id="emailError"></small>
            </div>
            <div>
                <label>Password</label>
                <input id="initialPassword"
                       type="password"
                       name="password"
                       placeholder="Password"
                       required />
            </div>
            <div>
                <label>Confirm Password</label>
                <input id="confirmPassword"
                       type="password"
                       name="password"
                       placeholder="Password"
                       required />
                <small id="passwordError"></small>
            </div>
            <button id="registerBtn" class="btn-primary" disabled type="submit">Register</button>
            {% if error %}
                <p id="registerError" class="error">{{ error }}</p>
            {% endif %}
        </form>
        <a href="{% url 'login' %}">Already a User?</a>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/validatePassword.js' %}"></script>
{% endblock %}
