footer {
  background-color: var(--color-dark);
  color: var(--color-text-light);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 1rem;
  background-color: var(--color-dark);
  color: var(--color-text-light);
}

footer img {
  width: 100px;
}
