<nav class="map-nav">
    <header>
        <a href="{% url 'parcel_dashboard' %}">
            <h3>{{ user.organization.name|default:"No Organization" }}</h3>
        </a>
        <p>{{ user.office.name }}</p>
    </header>
    <section>
        <div>
            <p>{{ user.first_name }}</p>
            <span>{{ user.role }}</span>
        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn-primary" type="submit">logout</button>
        </form>
    </section>
</nav>
