{% load static %}
<section class="assessment container">
    <div>
        <h2>Where is your organization today?</h2>
        <p>Find the stage that best matches your land information workflow.</p>
    </div>
    <main>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/notes.png' %}" alt="notes">
            <div>
                <h3>1. Paper Records</h3>
                <p>Maps, folders, and documents are managed manually.</p>
            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/sketch.png' %}" alt="sketch">
            <div>
                <h3>2. CAD & Survey</h3>
                <p>AutoCAD drawings, survey plans, and technical descriptions are the primary source of information.</p>

            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/laptop.png' %}" alt="laptop">
            <div>
                <h3>3. Desktop GIS</h3>
                <p>GIS software is used, but data is stored on individual computers.</p>

            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/work.png' %}" alt="work">
            <div>
                <h3>4. Department GIS</h3>
                <p>One team or department maintains its own GIS data and workflows.</p>

            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/information.png' %}" alt="information">
            <div>
                <h3>5. Shared GIS</h3>
                <p>A centralized local GIS database is shared across multiple users.</p>

            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/group.png' %}" alt="group">
            <div>
                <h3>6. Web GIS</h3>
                <p>Maps and parcel information are accessible through a web browser.</p>

            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/company-department.png' %}" alt="company-department">
            <div>
                <h3>7. Enterprise GIS</h3>
                <p>Planning, Assessor, Engineering, and other departments work from the same GIS platform</p>

            </div>
        </div>
        <div class="assessment-card">
            <img class="assessment-icon" src="{% static 'icons/smart-city.png' %}" alt="smart-city">
            <div>
                <h3>8. Smart Land Management</h3>
                <p>Automated workflows, dashboards, analytics, and digital decision-making.</p>

            </div>
        </div>
    </main>
</section>