/* Hero Section */
.hero {
  position: relative;
  min-height: var(--min-height);
  display: flex;
  overflow: hidden;
  background-color: rgb(194, 194, 194);
}

.hero-images {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: all 1s ease-in-out;
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero-card {
  max-width: 700px;
  padding: 3rem;
  border-radius: 8px;

  background: var(--color-bg);
  box-shadow: 20px 20px 60px rgba(43, 29, 14, 0.2);
}

.hero-card p {
  margin: 1.5rem 0;
}

/* Niched Section */
.niched {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 800px;
  text-align: center;
}

.niched a {
  display: block;
}

/* Customer Section */
.customer {
  background-color: var(--color-dark);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.customer main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.customer-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.customer-icon {
  display: block;
  width: 100px;
  filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(237%)
    hue-rotate(337deg) brightness(96%) contrast(95%);
}

/* Assessment Section */
.assessment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.assessment main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.assessment-card {
  display: flex;
  text-align: start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
}

.assessment-icon {
  filter: invert(9%) sepia(19%) saturate(1130%) hue-rotate(356deg)
    brightness(93%) contrast(96%);
  width: 150px;
}

@media (max-width: 900px ) {
  .hero-card {
  max-width: 600px;
  padding: 1rem;
}
}
