.auth {
  display: flex;
  flex-direction: column;
  min-height: calc(45vh);
  gap: 1rem
}

.auth form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
}

.auth form > div {
  display: flex;
  flex-direction: column;
}

.auth button {
  display: block;
}

.auth .password-field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.auth .password-field input {
    flex: 1;
}

.auth img {
  width: 30px;
}