{% extends '_map_base.html' %}
{% load static %}
{% block title %}Parcel Detail | TopMap Solutions{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/_map.css' %}">
{% endblock %}
{% block content %}
    <section>
        <main>
            <div class="parcel-detail">
                <a href="javascript:history.back()" class="btn-none">Back to Parcels</a>
                <h2>Parcel Details</h2>
                <div>
                    <p>Parcel Id: {{ parcel.parcel_id|default:"N/A" }}</p>
                    <p>Barangay Name: {{ parcel.barangay_name }}</p>
                    <p>Area in square meter: {{ parcel.area_auto_m2 }}</p>
                </div>
            </div>
            {% include 'footer.html' %}
        </main>
        <div id="map"></div>
    </section>
{% endblock %}
{% block scripts %}
    <script>const parcelId = {{ parcel.id }};</script>
    <script type="module" src="{% static 'js/parcel.js' %}"></script>
{% endblock %}
